@model DS_System.Models.Productos

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Productos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NommbreProduc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NommbreProduc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PrecioCom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PrecioCom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PrecioVen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PrecioVen)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Caducidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Caducidad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaRegis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaRegis)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Clasificacion.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Clasificacion.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Proveedores.NombreContacto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Proveedores.NombreContacto)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CDBarras }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
